@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #0D1B2A;
  color: #E0E1DD;
  padding: 5%;
}

h1.meu-nome {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

h3 {
    margin-bottom: 0px;
}

hr{
    margin-bottom: 18px;
}

#foto-perfil {
  border-radius: 50%;
  padding: 5px;
  background-color: whitesmoke;
  height: 250px;
  float: left;
}

.image-container{
    height: 260px;
    position: relative;
}

.descricao{
    position: absolute;
    top: 10%;
    left: 250px;    
}

.destaque{
    font-size: large;
    color: #778DA9;
}

.small-size{
    font-size: 18px;
}
.medium-size{
    font-size: 24px;
}
.large-size{
    font-size: 28px;
}

a{
    text-decoration: none;
    color: #778DA9;
}

a:hover{
    color: #415A77;
}

ul li:nth-child(odd){
    list-style: square;
    color: #778DA9;
}

/* div {
    border: 2px solid magenta;
} */




