@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

:root {
    --primary-color: #053742;
    --secondary-color: #A2DBFA;
    --primary-variant: #39A2DB;
    --secondary-variant: #E8F0F2;
    --mobile-title-size: 38px;
    --mobile-subtitle-size: 22px;
    --mobile-sections-padding: 16px;
    --mobile-text-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
  font-family: 'Zen Kurenaido', sans-serif;
}

.header {
  overflow: hidden;
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  padding: 16px;
  background-color: var(--primary-color);
}

.header a {
  text-decoration: none;
  color: var(--primary-variant);
}

.main {
  
}

section, footer {
  padding: var(--mobile-sections-margin);
}

section p, section li, section ul {
  font-size: var(--mobile-text-size);
  margin-top: 8px;
}

section h2 {
  margin-top: 8px;;
}

.title {
  font-family: 'Short Stack', cursive;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  line-height: 1.2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 10s;
}


.title span {
  display: block;
  transition: font-size 10s;
  font-size: var(--mobile-title-size);
}

.title span:last-child {
  font-size: var(--mobile-subtitle-size);
}

.abilities {
  
}

.abilities h2 {

}

.abilities li {
  list-style: none;

}

footer {

}



